* {
	margin: 0;
	padding: 0
}

body {
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	background: #eee;
	color: #666
}

h1 {
	font-size: 1.8em
}

h2 {
	font-size: 1.5em
}

h3 {
	font-size: 1.3em
}

a {
	text-decoration: none;
	outline-width: 0;
	color: #258fb8
}

.center {
	text-align: center
}

.alignleft {
	float: left
}

.alignright {
	float: right
}

.inner {
	width: 1000px;
	margin: 0 auto
}

#header {
	height: 30px;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	padding: 30px 0
}

#header a {
	color: #666;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s
}

#header h1 {
	float: left;
	font-weight: 300;
	font-size: 30px
}

#main-nav {
	float: left;
	margin-left: 30px
}

#main-nav select {
	display: none;
	margin-bottom: 10px
}

#mobile-nav {
	display: none;
	height: 37px;
	position: relative
}

#mobile-nav .button {
	cursor: pointer
}

#mobile-nav .menu {
	position: relative;
	width: 100%
}

#mobile-nav .menu .button {
	background: #f2f2f2;
	border: 1px solid #ddd;
	color: #999;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 0 60px 0 10px
}

#mobile-nav .menu .button:hover {
	color: #999
}

#mobile-nav .menu .button.on {
	color: #666;
	-webkit-border-radius: 5px 5px 5px 0;
	-moz-border-radius: 5px 5px 5px 0;
	-ms-border-radius: 5px 5px 5px 0;
	-o-border-radius: 5px 5px 5px 0;
	border-radius: 5px 5px 5px 0
}

#mobile-nav .menu .button.on:before {
	content: "\f077"
}

#mobile-nav .menu .container {
	background: #f2f2f2;
	border: 1px solid #ddd;
	border-top: none;
	position: absolute;
	top: 31px;
	z-index: 1;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px
}

#mobile-nav .menu .container a {
	padding: 0 10px
}

#mobile-nav .search {
	position: absolute;
	top: 0;
	right: 0
}

#mobile-nav .search .button {
	background: #ddd;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 1px;
	right: -1px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0
}

#mobile-nav .search .button.on {
	background: #ccc
}

#mobile-nav .search .button.on:before {
	content: "\f00d"
}

#mobile-nav .search .container {
	position: absolute;
	right: 51px;
	z-index: 1
}

#mobile-nav .search input[type=text] {
	background: #fff;
	border: 1px solid #ddd;
	border-right: none;
	color: #999;
	font: 13px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	width: 100%;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	padding: 0 10px
}

#sub-nav .search {
	float: left;
	margin-top: 1px;
	position: relative
}

#sub-nav .search input[type=text] {
	background: #f2f2f2;
	color: #999;
	border: 1px solid #ddd;
	font: 13px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	padding: 6px 15px 6px 35px
}

#sub-nav .search input[type=text]:active,
#sub-nav .search input[type=text]:focus {
	background: #fff;
	border-top: 1px solid #ccc;
	color: #666;
	outline: 0
}

#sub-nav .social {
	float: left;
	margin-right: 15px
}

#sub-nav .social a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	vertical-align: auto;
	zoom: 1;
	display: inline-block;
	text-indent: -9999px;
	margin-right: 15px;
	opacity: .5;
	width: 28px;
	height: 28px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

#sub-nav .social a:hover {
	opacity: 1
}

article {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	position: relative;
	padding: 30px 0
}

article h2.title {
	font-size: 1.8em;
	font-weight: 300;
	line-height: 35px;
	margin-bottom: 20px
}

article .entry-content {
	line-height: 2
}

article .entry-content em {
	font-style: italic
}

article .entry-content h2 {
	font-weight: 300;
	border-bottom: 1px solid #ddd;
	position: relative
}

article .entry-content h2:before {
	content: "";
	position: absolute;
	bottom: -2px;
	border-bottom: 1px solid #fff;
	width: 100%
}

article .entry-content img {
	max-width: 100%;
	height: auto
}

article .entry-content .caption {
	display: block;
	font-size: .9em;
	color: #999;
	padding-left: 25px;
	position: relative
}

.post .meta {
	position: absolute;
	top: 85px;
	line-height: 2;
	font-size: .9em;
	color: #999;
	width: 170px
}

.post .meta .date {
	padding-left: 30px;
	position: relative
}

footer {
	border-top: 1px solid #fff;
	text-align: center;
	font-size: .9em;
	padding: 15px 0
}

article code,
article pre {
	background: #ddd;
	border: 1px solid #ccc;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace
}

article code {
	font-size: .9em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	margin: 0 3px;
	padding: 1px 3px
}

article pre {
	font-size: 1em;
	line-height: 1.5;
	margin-top: 10px;
	overflow-x: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 15px
}

#header a:hover {
	color: #258fb8
}

.post .meta a:hover,
article h2.title a {
	color: #666
}

#mobile-nav a {
	display: block
}

#mobile-nav .container {
	display: none
}

article .entry-content a:hover {
	text-decoration: underline
}

article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content p {
	margin-top: 10px
}

.post .meta a {
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	color: #999;
	transition: .3s
}

article pre code {
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	background: 0 0;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0
}

@media screen and max-width 1040px {
	body {
		margin: 0 20px
	}
	.inner {
		width: 100%
	}
	#header {
		height: auto;
		position: relative;
		padding-bottom: 10px
	}
	#header h1 {
		float: none
	}
	#main-nav {
		float: none;
		margin-left: 0;
		margin-top: 15px
	}
	#sub-nav {
		position: absolute;
		top: 30px;
		right: 0
	}
	#sub-nav .search {
		float: none;
		margin-top: 15px
	}
	#sub-nav .social {
		float: none;
		margin-right: 0
	}
	#sub-nav .social a:last-of-type {
		margin-right: 0
	}
}

@media screen and max-width 600px {
	body {
		font-size: 13px
	}
	article {
		padding: 15px 0
	}
	#sub-nav {
		display: none
	}
	#main-nav select,
	#mobile-nav {
		display: block
	}
}

@media screen and max-width 800px {
	article {
		padding-bottom: 15px
	}
	.post .entry-content,
	.post h2.title {
		margin-left: 0
	}
	.post .meta {
		margin-top: 15px;
		position: static;
		width: auto
	}
	.post .meta .date {
		vertical-align: auto;
		zoom: 1;
		display: inline;
		margin-right: 30px
	}
}